.shimmer-line {
    width: 300px;
    height: 15px;  
    background-color: #0d1cf6;
    margin-bottom: 10px;  
    animation: shimmer 1.5s linear infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -500px 0; 
    }
    100% {
      background-position: 500px 0; 
    }
  }